<div
    [@modalAnimation]
    *ngIf="showModal"
    class="fixed z-40 w-screen h-screen overflow-auto bg-black bg-opacity-30"
>
    <div class="flex items-center justify-center h-screen">
        <div class="relative z-50 bg-white border border-black border-solid border-opacity-60 rounded-xl h-80 w-96">
            <h2 class="w-5/6 m-auto mt-4 text-xl leading-relaxed">
                {{"BOOK_MEETING_MODAL_TITLE" | translate}}
            </h2>
            <div class="w-full mt-3 border-t"></div>
            <p
                class="w-5/6 m-auto mt-3 mb-3 leading-relaxed opacity-75 "
                [innerHTML]='"BOOK_MEETING_MODAL_TEXT" | translate'
            ></p>
            <div class="w-full mb-3 border-t"></div>
            <button
                type="button"
                (click)="toggleModal()"
                class="absolute p-2 mr-4 font-semibold bg-pink-100 border border-black rounded-lg border-opacity-30 right-3 bottom-5"
            >
                {{"BOOK_MEETING_MODAL_BUTTON" | translate}}
            </button>
        </div>
    </div>
</div>
