<header class="fixed z-30 w-full h-16 bg-gray-50">
    <div class="relative w-full max-w-full m-auto xl:max-w-screen-xl">
        <a
            (click)="bookingClick()"
            [ngClass]="{ 'header-focus': focused_component === 100}"
            routerLink="/Booking"
            class="absolute p-1 pl-2 pr-2 mt-4 ml-3 mr-3 font-semibold underline transition-colors cursor-pointer"
        >
            {{"HEADER_BOOK_MEETING" | translate}}
        </a>
        <nav class="absolute hidden md:block right-16">
            <ul class="flex mt-5">
                <li
                    (click)="sectionScroll(0)"
                    [ngClass]="{ 'header-focus': focused_component === 0}"
                    class="pl-2 pr-2 ml-3 mr-3 font-semibold transition-colors cursor-pointer "
                >
                    {{"HEADER_HOME" | translate}}
                </li>
                <li
                    (click)="sectionScroll(1)"
                    [ngClass]="{ 'header-focus': focused_component === 1}"
                    class="pl-2 pr-2 ml-3 mr-3 font-semibold transition-colors cursor-pointer"
                >
                    {{"HEADER_INFORMATION" | translate}}
                </li>
                <li
                    (click)="sectionScroll(2)"
                    [ngClass]="{ 'header-focus': focused_component === 2}"
                    class="pl-2 pr-2 ml-3 mr-3 font-semibold transition-colors cursor-pointer"
                >
                    {{"HEADER_PLANS" | translate}}
                </li>
                <li
                    (click)="sectionScroll(3)"
                    [ngClass]="{ 'header-focus': focused_component === 3}"
                    class="pl-2 pr-2 ml-3 mr-3 font-semibold transition-colors cursor-pointer"
                >
                    {{"HEADER_CONTACT" | translate}}
                </li>
                <li
                    (click)="sectionScroll(4)"
                    [ngClass]="{ 'header-focus': focused_component === 4}"
                    class="pl-2 pr-2 ml-3 mr-3 font-semibold transition-colors cursor-pointer"
                >
                    {{"HEADER_ABOUT_US" | translate}}
                </li>
            </ul>
        </nav>
        <button
            (click)="toggleHamburger()"
            [ngStyle]="{ transform: hamburger_active? 'rotate(90deg)' : '' }"
            class="absolute right-0 block p-2 m-2 mr-8 transition-transform md:hidden"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                :xmlns:xlink="http://www.w3.org/1999/xlink"
                height="32px"
                id="Layer_1"
                style="enable-background:new 0 0 32 32;"
                version="1.1"
                viewBox="0 0 32 32"
                width="32px"
                :xml:space="preserve"
            >
                <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"></path>
            </svg>
        </button>
    </div>
</header>
<div
    class="fixed z-20 w-full h-full mt-16 bg-gray-100"
    *ngIf="hamburger_active"
>
    <nav class="relative h-full">
        <ul class="flex flex-col h-full mt-5">
            <li
                (click)="sectionScroll(0, true)"
                class="w-full h-auto p-10 text-4xl underline transition-colors border-b cursor-pointer "
            >
                {{"HEADER_HOME" | translate}}
            </li>
            <li
                (click)="sectionScroll(1, true)"
                class="w-full h-auto p-10 text-4xl underline transition-colors border-b cursor-pointer"
            >
                {{"HEADER_INFORMATION" | translate}}
            </li>
            <li
                (click)="sectionScroll(2, true)"
                class="w-full h-auto p-10 text-4xl underline transition-colors border-b cursor-pointer"
            >
                {{"HEADER_PLANS" | translate}}
            </li>
            <li
                (click)="sectionScroll(3, true)"
                class="w-full h-auto p-10 text-4xl underline transition-colors border-b cursor-pointer"
            >
                {{"HEADER_CONTACT" | translate}}
            </li>
            <li
                (click)="sectionScroll(4, true)"
                class="w-full h-auto p-10 text-4xl underline transition-colors border-b cursor-pointer"
            >
                {{"HEADER_ABOUT_US" | translate}}
            </li>
        </ul>
    </nav>

</div>
