<header class="z-30 w-full fixed bg-gray-50 h-16">
  <div class="xl:max-w-screen-xl max-w-full w-full m-auto relative">
    <a (click)="bookingClick()" [ngClass]="{ 'header-focus': focused_component === 100}" routerLink="/Booking" class="font-semibold cursor-pointer mt-4 p-1 pr-2 pl-2 transition-colors ml-3 mr-3 underline absolute">Boka ett möte</a>
    <nav class="hidden md:block absolute right-16">
      <ul class="flex mt-5">
        <li (click)="sectionScroll(0)" [ngClass]="{ 'header-focus': focused_component === 0}" class="font-semibold cursor-pointer transition-colors pl-2 pr-2 ml-3 mr-3 ">Hem</li>
        <li (click)="sectionScroll(1)" [ngClass]="{ 'header-focus': focused_component === 1}" class="font-semibold cursor-pointer transition-colors pl-2 pr-2 ml-3 mr-3">Information</li>
        <li (click)="sectionScroll(2)" [ngClass]="{ 'header-focus': focused_component === 2}" class="font-semibold cursor-pointer transition-colors pl-2 pr-2 ml-3 mr-3">Planer</li>
        <li (click)="sectionScroll(3)" [ngClass]="{ 'header-focus': focused_component === 3}" class="font-semibold cursor-pointer transition-colors pl-2 pr-2 ml-3 mr-3">Kontakt</li>
        <li (click)="sectionScroll(4)" [ngClass]="{ 'header-focus': focused_component === 4}" class="font-semibold cursor-pointer transition-colors pl-2 pr-2 ml-3 mr-3">Om oss</li>
      </ul>
    </nav>
    <button  (click)="toggleHamburger()" [ngStyle]="{ transform: hamburger_active? 'rotate(90deg)' : '' }" class="transition-transform absolute p-2 m-2 mr-8 right-0 block md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
  </button>
  </div>
</header>
<div class="fixed w-full h-full bg-gray-100 mt-16 z-20" *ngIf="hamburger_active">
  <nav class="relative h-full">
    <ul class="flex flex-col mt-5 h-full">
      <li (click)="sectionScroll(0, true)" class="w-full h-auto underline border-b text-4xl cursor-pointer transition-colors p-10 ">Hem</li>
      <li (click)="sectionScroll(1, true)" class="w-full h-auto underline border-b text-4xl cursor-pointer transition-colors p-10">Information</li>
      <li (click)="sectionScroll(2, true)" class="w-full h-auto underline border-b text-4xl cursor-pointer transition-colors p-10">Planer</li>
      <li (click)="sectionScroll(3, true)" class="w-full h-auto underline border-b text-4xl cursor-pointer transition-colors p-10">Kontakt</li>
      <li (click)="sectionScroll(4, true)" class="w-full h-auto underline border-b text-4xl cursor-pointer transition-colors p-10">Om oss</li>
    </ul>
  </nav>

</div>

