<div id="section-1" class="relative w-full h-1080 bg-gray-50">
  <div class="w-full max-w-screen-xl relative m-auto">
    <div class="p-6 left-0 absolute z-10 top-8 lg:top-52">
      <h1
        class="w-fit text-55 leading-tight sm:text-7xl md:text-8xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-gradiant_start to-gradiant_stop"
      >
        Varför <br />webbsidor?
      </h1>
      <p class="mt-12 sm:ml-5 text-2xl w-[90%] sm:w-[60%] lg:w-2/5 leading-normal">
        En välutformad webbsida är nödvändig för att skapa förtroende och driva
        försäljning i dagens digitala värld. <br /><br />
        Det är en plattform för att nå ut till en större publik och visa upp
        dina produkter eller tjänster dygnet runt.
      </p>
      <a
        target="_blank"
        href="https://www.youtube.com/watch?v=NN7YEIlc-Oc"
        class="relative top-20 sm:ml-4 pl-8 pr-8 pt-4 pb-4 bg-gradient-to-r from-gradiant_start to-gradiant_stop h-16 w-44 rounded-2xl text-2xl text-white font-semibold"
      >
        Se video
      </a>
    </div>
    <img
      class="transform scale-x-[-1] w-full opacity-[0.05] right-[-25%] sm:w-3/5 absolute top-80 lg:top-96 sm:opacity-20 sm:right-[-5%] md:opacity-40 md:mr-0 lg:w-2/4 lg:right-0 lg:mr-6 lg:scale-x-100 xl:top-80 lg:p-0 lg:opacity-100"
      src="../assets/images/Information-upscale.png"
    />
  </div>
</div>
