<div id="section-0" class="xl:max-w-screen-xl max-w-full w-full h-1080 relative m-auto">
  <div class="lg:right-0 p-6 lg:absolute relative m-auto top-28 lg:top-40 z-10">
       <h1
    class="w-fit text-55 leading-tight sm:text-7xl md:text-8xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-gradiant_start to-gradiant_stop">
    Vi kan <br>webbsidor
  </h1>
    <p class="mt-10 sm:ml-4 text-2xl pr-2 sm:w-96 sm:pr-0 leading-normal w-auto">
      Webbsidor kan vara en börda, vi tar ansvaret ifrån era axlar.
    </p>
    <button routerLink="/Booking"
      class="mt-20 sm:ml-4 bg-gradient-to-r from-gradiant_start to-gradiant_stop h-16 w-44 rounded-2xl text-2xl text-white font-semibold"
    >
      Gratis offert
    </button>
  </div>
  <img class='left-[45%] bottom-[5%] absolute opacity-20 w-full sm:w-[60%] md:w-1/2 lg:top-40 md:opacity-40 lg:bottom-auto lg:left-0 lg:opacity-100 xl:w-2/4' src="../assets/images/landing-upscale.png">
</div>
