.bg-pink-about {
  background-color: var(--pink-color-about);

}


.bg-purple-about {
  background-color: var(--purple-color-about);

}


.bg-blue-about {
  background-color: var(--blue-color-about);

}

