<div class="hidden md:block fixed left-0 bg-gray-50 h-full md:w-48 lg:w-60 overflow-scroll">
  <h2 class="relative top-20 font-semibold w-full text-center underline">
    Boka in möten
  </h2>
  <div class="relative top-24 border-t border-gray-300 w-full"></div>
  <div
    class="text-center rounded-sm w-3/4 m-auto h-10 mt-28 bg-pink relative border border-black"
  >
    <h2 class="font-semibold underline m-auto pt-2">Enkel plan</h2>
  </div>
  <div
    (click)="activeMeeting(0)"
    class="cursor-pointer text-center rounded-sm w-3/4 m-auto h-10 mt-3 bg-purple relative hover:border hover:border-black"
  >
    <h2 class="font-semibold m-auto pt-2">Standard plan</h2>
  </div>
  <div
    (click)="activeMeeting(1)"
    class="cursor-pointer text-center rounded-sm w-3/4 m-auto h-10 mt-3 bg-blue relative hover:border hover:border-black"
  >
    <h2 class="font-semibold m-auto pt-2">Premium plan</h2>
  </div>
  <div
    (click)="activeMeeting(2)"
    class="cursor-pointer relative top-3 border-t border-gray-300 w-full "
  ></div>
  <div
    (click)="activeMeeting(3)"
    class="cursor-pointer text-center rounded-sm w-3/4 m-auto h-10 mt-7 bg-emerald-100 relative hover:border hover:border-black"
  >
    <h2 class="font-semibold m-auto pt-2">Konsultation</h2>
  </div>
  <div
    (click)="activeMeeting(4)"
    class="cursor-pointer text-center rounded-sm w-3/4 m-auto h-10 mt-3 bg-teal-100 relative hover:border hover:border-black"
  >
    <h2 class="font-semibold m-auto pt-2">Annat möte</h2>
  </div>
  <div
    (click)="activeMeeting(5)"
    class="cursor-pointer text-center rounded-sm w-3/4 m-auto h-10 mt-3 bg-green-200 relative hover:border hover:border-black"
  >
    <h2 class="font-semibold m-auto pt-2">Uppföljnings möte</h2>
  </div>
  <div class="relative top-8 border-t border-gray-300 w-full"></div>
  <h2 class="relative top-12 font-semibold w-full text-center underline">
    Hur bokar man?
  </h2>
  <div class="relative top-16 border-t border-gray-300 w-full"></div>
  <ul class="relative top-20">
    <li class="border-b list-disc ml-8 mr-4 mt-4">
      Välj ett typ av möte under "<strong>Boka in möten</strong>".
    </li>
    <li class="border-b list-disc ml-8 mr-4 mt-5">
      Välj ett datum i kalendern.
    </li>
    <li class="border-b list-disc ml-8 mr-4 mt-5">Klicka på datumet.</li>
    <li class="border-b list-disc ml-8 mr-4 mt-5">
      Ange tid, mail samt telefon nummer.
    </li>
    <li class="border-b list-disc ml-8 mr-4 mt-5">
      Grattis, ditt möte är nu bokat!
    </li>
  </ul>
</div>

<div
  class="w-[90%] m-auto md:w-2/3 max-w-screen-2xl h-1080 pt-28 md:mr-16 lg:mr-24 2xl:mr-[15%] "
>
  <full-calendar class="h-3/4" [options]="calendarOptions"></full-calendar>

</div>
