<div class="fixed left-0 hidden h-full overflow-scroll md:block bg-gray-50 md:w-48 lg:w-60">
  <h2 class="relative w-full font-semibold text-center underline top-20">
    {{"BOOK_MEETING_TITLE" | translate}}
  </h2>
  <div class="relative w-full border-t border-gray-300 top-24"></div>
  <div
    class="relative w-3/4 h-10 m-auto text-center border border-black rounded-sm mt-28 bg-pink"
  >
    <h2 class="pt-2 m-auto font-semibold underline">{{"BOOK_MEETING_BASIC_PLAN_TITLE" | translate}}</h2>
  </div>
  <div
    (click)="activeMeeting(0)"
    class="relative w-3/4 h-10 m-auto mt-3 text-center rounded-sm cursor-pointer bg-purple hover:border hover:border-black"
  >
    <h2 class="pt-2 m-auto font-semibold">{{"BOOK_MEETING_STANDARD_PLAN_TITLE" | translate}}</h2>
  </div>
  <div
    (click)="activeMeeting(1)"
    class="relative w-3/4 h-10 m-auto mt-3 text-center rounded-sm cursor-pointer bg-blue hover:border hover:border-black"
  >
    <h2 class="pt-2 m-auto font-semibold">{{"BOOK_MEETING_ADVANCED_PLAN_TITLE" | translate}}</h2>
  </div>
  <div
    (click)="activeMeeting(2)"
    class="relative w-full border-t border-gray-300 cursor-pointer top-3 "
  ></div>
  <div
    (click)="activeMeeting(3)"
    class="relative w-3/4 h-10 m-auto text-center rounded-sm cursor-pointer mt-7 bg-emerald-100 hover:border hover:border-black"
  >
    <h2 class="pt-2 m-auto font-semibold">{{"BOOK_MEETING_CONSULTATION_TITLE" | translate}}</h2>
  </div>
  <div
    (click)="activeMeeting(4)"
    class="relative w-3/4 h-10 m-auto mt-3 text-center bg-teal-100 rounded-sm cursor-pointer hover:border hover:border-black"
  >
    <h2 class="pt-2 m-auto font-semibold">{{"BOOK_MEETING_OTHER_TITLE" | translate}}</h2>
  </div>
  <div
    (click)="activeMeeting(5)"
    class="relative w-3/4 h-10 m-auto mt-3 text-center bg-green-200 rounded-sm cursor-pointer hover:border hover:border-black"
  >
    <h2 class="pt-2 m-auto font-semibold">{{"BOOK_MEETING_CONTINUATION_TITLE" | translate}}</h2>
  </div>
  <div class="relative w-full border-t border-gray-300 top-8"></div>
  <h2 class="relative w-full font-semibold text-center underline top-12">
    {{"BOOK_MEETING_INSTRUCTIONS_TITLE" | translate}}
  </h2>
  <div class="relative w-full border-t border-gray-300 top-16"></div>
  <ul class="relative top-20">
    <li class="mt-4 ml-8 mr-4 list-disc border-b" [innerHTML]='"BOOK_MEETING_INSTRUCTIONS_1" | translate'>
    </li>
    <li class="mt-5 ml-8 mr-4 list-disc border-b">
      {{"BOOK_MEETING_INSTRUCTIONS_2" | translate}}
    </li>
    <li class="mt-5 ml-8 mr-4 list-disc border-b">{{"BOOK_MEETING_INSTRUCTIONS_3" | translate}}</li>
    <li class="mt-5 ml-8 mr-4 list-disc border-b">
      {{"BOOK_MEETING_INSTRUCTIONS_4" | translate}}
    </li>
    <li class="mt-5 ml-8 mr-4 list-disc border-b">
      {{"BOOK_MEETING_INSTRUCTIONS_5" | translate}}
    </li>
  </ul>
</div>

<div
  class="w-[90%] m-auto md:w-2/3 max-w-screen-2xl h-1080 pt-28 md:mr-16 lg:mr-24 2xl:mr-[15%] "
>
  <full-calendar class="h-3/4" [options]="calendarOptions"></full-calendar>

</div>
